@font-face {
    font-family: 'leixodemo';
    src: url('fonts/leixo-demo-webfont.woff2') format('woff2'),
    url('fonts/leixo-demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kaleko';
    src: url('fonts/kaleko-205-w00-book-webfont.woff2') format('woff2'),
    url('fonts/kaleko-205-w00-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000000;
    color: #ffffff;
}

a{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: #ffffff;
    text-decoration: none;
}

#home{
    background-image: url('../images/homebackground.jpg');
}

.presentation{
    width: 100%;
    height: 100%;
    margin-top: 4vh;
    text-align: center;
}

#logo{
    width: 22vw;
    height: auto;
}

#nom{
    margin-top: 4vh;
    font-family: leixodemo;
    font-size: 5vw;
}

#discover{
    margin-top: 3vh;
    font-family: kaleko;
    font-size: 2vw;
}

#choix{
    margin-top: 4vh;
    font-family: kaleko;
    font-size: 1.5vw;
}

#links{
    text-align: center;
    font-family: kaleko;
    margin-top: 3vh;
}

.lien{
    padding: 10px;
    font-size: 2.4vw;
    border-radius: 5px;
    border: solid 2px #ffffff;
    transition: ease-in 0.4s;
}

.lien:hover{
    color: #000;
    background-color: #ffffff;
    transition: ease-out 0.5s;
}

.description{
    font-size: 1.2vw;
    margin-top: 5vh;
}

#animcontrols{
    float: left;
    z-index: 999;
    position: absolute;
    margin: 3vh 0 0 3vh;
}

.ctrlbtn{
    text-align: center;
    border:none;
    height: 30px;
    border-radius: 5%;
    background-color: #000000;
    color: #ffffff;
    transition: ease-out 0.3s;
    font-family:leixodemo;
}

.ctrlbtn:hover{
    background-color: #29316E;
    transition: ease-out 0.3s;
}

.ctrlbtn:focus{
    outline: none;
}

.scene{
    z-index: 0;
}