@font-face {
    font-family: 'leixodemo';
    src: url('fonts/leixo-demo-webfont.woff2') format('woff2'),
    url('fonts/leixo-demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.description{
    font: leixodemo;
    color: #000;
}

#animcontrols{
    float: left;
    z-index: 999;
    position: absolute;
    margin: 3vh 0 0 3vh;
}

.ctrlbtn{
    text-align: center;
    border:none;
    height: 30px;
    border-radius: 5%;
    background-color: #000000;
    color: #ffffff;
    transition: ease-out 0.3s;
    font-family:leixodemo;
}

.ctrlbtn:hover{
    background-color: #29316E;
    transition: ease-out 0.3s;
}

.ctrlbtn:focus{
    outline: none;
}

.scene{
    z-index: 0;
}