@font-face {
    font-family: 'leixodemo';
    src: url('fonts/leixo-demo-webfont.woff2') format('woff2'),
    url('fonts/leixo-demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kaleko';
    src: url('fonts/kaleko-205-w00-book-webfont.woff2') format('woff2'),
    url('fonts/kaleko-205-w00-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    width: 100vw;
    height: 100vh;
    padding-top: 7vh;
    background-image: url('../images/homebackground.jpg');
    background-size: cover;
    color: #ffffff;
    text-align: center;
}
#welcome{
    margin-bottom: 0;
    font-size: 1.5rem;
}
h1{
    font-family: 'leixodemo';
    font-size: 3.5rem;
}
#logo{
    max-height: 36vh;
    margin: 5vh 0;
}
#choix{
    font-size: 1.5rem;
    margin-top: 5vh;
}
#links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.links-child{
    max-width: 30%;
}
h2 a{
    color: #ffffff;
    font-family: 'leixodemo';
    text-decoration: none;
    padding: 7px 10px;
    border: 1px solid #ffffff;
    border-radius: 3px;
}
h2 a:hover{
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    transition: all 500ms;
}
.description{
    margin-top: 30px;
    font-size: 1.25rem;
}

/* 
.presentation{
    width: 100%;
    height: 100%;
    margin-top: 4vh;
    text-align: center;
}

#logo{
    width: 22vw;
    height: auto;
}

#nom{
    margin-top: 4vh;
    font-family: leixodemo;
    font-size: 5vw;
}

#discover{
    margin-top: 3vh;
    font-family: kaleko;
    font-size: 2vw;
}

#choix{
    margin-top: 4vh;
    font-family: kaleko;
    font-size: 1.5vw;
}

#links{
    text-align: center;
    font-family: kaleko;
    margin-top: 3vh;
}

.lien{
    padding: 10px;
    font-size: 2.4vw;
    border-radius: 5px;
    border: solid 2px #ffffff;
    transition: ease-in 0.4s;
}

.lien:hover{
    color: #000;
    background-color: #ffffff;
    transition: ease-out 0.5s;
}

.description{
    font-size: 1.2vw;
    margin-top: 5vh;
}

 */