@font-face {
    font-family: 'leixodemo';
    src: url('fonts/leixo-demo-webfont.woff2') format('woff2'),
    url('fonts/leixo-demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kaleko';
    src: url('fonts/kaleko-205-w00-book-webfont.woff2') format('woff2'),
    url('fonts/kaleko-205-w00-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    width: 100vw;
    height: 100vh;
    padding-top: 7vh;
    background-image: url('../images/homebackground.jpg');
    background-size: cover;
    font-family: 'kaleko';
    color: #ffffff;
    text-align: center;
}
#disclaimer{
    display: none;
    position: absolute;
    z-index: 10;
    padding: 1vh 0;
    width: 80vw;
    background-color: #000000;
}
#disclaimer-title{
    font-family: 'leixodemo';
    font-size: 2.5rem;
}
#disclaimer-button{
    margin-top: 10px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 2px;
    line-height: 1.7;
    text-decoration: none;
}
#welcome{
    margin-bottom: 0;
    font-size: 1.5rem;
}
h1{
    font-family: 'leixodemo';
    font-size: 3.5rem;
}
#logo{
    max-height: 36vh;
    margin: 5vh 0;
}
#choix{
    font-size: 1.5rem;
    margin-top: 5vh;
}
#links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.links-child{
    max-width: 30%;
}
h2 a{
    color: #ffffff;
    font-family: 'leixodemo';
    text-decoration: none;
    padding: 7px 10px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    white-space: nowrap;
}
h2 a:hover{
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    transition: all 500ms;
}
.description{
    margin-top: 30px;
    font-size: 1.25rem;
}
@media screen and (max-width: 1025px){
    #disclaimer{
        display: flex;
        margin: 60vh 10vw 0 10vw;
    }
    #logo{
        max-height: 30vh;
        margin: 6vh 0;
    }
    #choix{
        margin: 5vh 0;
    }
    .description{
        font-size: 1rem;
    }
}
@media screen and (max-width: 1024px) and (min-width: 1000px){
    #disclaimer{
        margin-top: 58vh;
    }
}
@media screen and (max-width: 768px){
    h2{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 400px){
    #home{
        padding: 4vh 4vw 0 4vw;
    }
    #welcome{
        font-size: 1.1rem;
    }
    #logo{
        margin: 3vh 0;
    }
    #discover{
        font-size: 1.1rem;
    }
    #choix{
        margin: 2vh 0;
        font-size: 1rem;
    }
    #links{
        flex-direction: column;
    }
    .links-child{
        max-width: 100%;
        margin-top: 15px;
    }
    .description{
        margin-top: 15px;
    }
    #disclaimer{
        width: 90vw;
        margin: 46vh 5vw 0 1vw;
        padding: 3vh 5vw;
        font-size: 0.9rem;
    }
    #disclaimer-title{
        font-size: 1.5rem;
    }
}